{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
 <link href="{{ url_for('static', filename='about.css') }}" rel="stylesheet">    
</head>
<body>
  <h1>Check out some exciting articles in our Blog </h1>   
  
    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <div>
          {{article.body | safe}}
        </div>   
      </tr>

    {% endfor %}
<a class="btn btn-success" href="/login"> Login to Read More Articles</a>
{% endblock %}