<body>
{% extends 'layout.html' %}

{% block body %}
  <!-- <div class="jumbotron text-center">
    <h1>Welcome To FlaskApp</h1>
    <p class="lead">This application is built on the Python Flask framework and is the focus for the "Python Flask From Scratch" YouTube series</p>
    <!-- {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %} -->
  <!-- </div> --> 
  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"234aa935d9717ed6b5a20b8203df7591f","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
</script>
<!DOCTYPE html>
<html>
<head>
 <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">  
   
<title>Covid-19 Live  Data</title>
 

  <title>Home</title>
  
</head>
<body>
       <!-- <div class="topnav" id="myTopnav">
  <a href="/" class="active">Global</a>
  <a href="/"> Countries</a>
  <a href="/">About Us</a>
    <a href="/">Contact Us</a>
           
  

</div> -->

    <div class="banner">
        <h1>Coronavirus Global Stats: LIVE UPDATES</h1>

    </div>
    <br>
    
   <br>
    <div class="leftpane">

      <h4><b>New Deaths</b></h4>
<h4>
  {{nd_n}}
</h4><br>
         <h4><b>New Cases</b> </h4>
<h4>
  {{nc_n}}
</h4><br>
        <h4><b>New Recovered</b> </h4>
<h4> {{nr_n}} </h4>
                 <br>
    <div class="banner2">

</div>
</div>
    
    <div class="rightpane">
        <h4><b>Total Deaths</b> </h4>
<h4>
  {{td_n}}
</h4><br>
         <h4><b>Cases</b>  </h4>
<h4>
  {{tc_n}}
</h4><br>
         <h4><b>Total Recoverd </b></h4>
<h4>
  {{tr_n}}
</h4><br>
<div class="banner2">

</div>
</div>
<div>
  <h3 style="background-color:lightblue">Updated On: {{date}} </h3> 
</div>
    
</body>
</html>
{%endblock%}

